.hero-section {
    background-image: url("../../assets/banner-desktop.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    min-height: 60vh;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    padding-bottom: 4rem;
    padding-top: 60px;
}

.hero-section h1 {
    color: white;
    font-size: 4.5rem;
    font-weight: normal;
    margin: 0;
}


.hero-section h1,
.hero-section h2 {
    text-shadow:
        -0.5px -0.5px 0 rgba(0, 0, 0, 0.6),
        0.5px -0.5px 0 rgba(0, 0, 0, 0.6),
        -0.5px 0.5px 0 rgba(0, 0, 0, 0.6),
        0.5px 0.5px 0 rgba(0, 0, 0, 0.6);
}

.hero-section h1 small {
    font-size: 3rem;
}

.hero-section h2 {
    font-family: Cristola Display;
    font-weight: normal;
    font-size: 2.5rem;
    margin: 0;
    color: var(--white-color);
}


.card-button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: .8rem 1.8em;
    border-radius: 1.5rem;
    cursor: pointer;
    font-family: Caviar Dreams;
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: 900;
    margin-top: .3rem;
}

@media screen and (max-width: 768px) {
    .hero-section {
        padding-bottom: 2rem;
        background-attachment: scroll;
        background-image: url("../../assets/banner-mobile.jpg");

    }

    .hero-section h1 {
        font-size: 2.5rem;
        text-align: center;

    }

    .hero-section h1 small {
        font-size: 1.5rem;
    }

    .hero-section h2 {
        font-size: 1.5rem;
        text-align: center;
    }

    .card button {
        padding: .6rem 1.4em;
        font-size: .7rem;

    }
}