.hero-section {
    background-image: url("../../assets/background-cinema.jpg"); 
    background-position: center;
    background-attachment: fixed;
    min-height: 60vh;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    padding-bottom: 4rem;
padding-top: 60px;
}

.hero-section h1 {
    color: white;
    font-size: 4.5rem;
    font-weight: normal;
    margin: 0;
}


.hero-section h1, .hero-section h2 {
  text-shadow:
    -0.5px -0.5px 0 rgba(0, 0, 0, 0.6),
     0.5px -0.5px 0 rgba(0, 0, 0, 0.6),
    -0.5px  0.5px 0 rgba(0, 0, 0, 0.6),
     0.5px  0.5px 0 rgba(0, 0, 0, 0.6);
}
.hero-section h1 small {
    font-size: 3rem;
}

.hero-section h2 {
    font-family: Cristola Display;
    font-weight: normal;
    font-size: 2.5rem;
    margin: 0;
    color: var(--white-color);
}

@media screen and (max-width: 768px) {
    .hero-section {
        padding-bottom: 2rem;
    background-attachment: fixed;


    }

    .hero-section h1 {
        font-size: 2.5rem;
        text-align: center;

    }

    .hero-section h1 small {
        font-size: 1.5rem;
    }
    .hero-section h2 {
        font-size: 1.5rem;
        text-align: center;
    }
}