.modal-overlay {
  position: fixed;

  inset: 0;
  background: rgba(0,0,0,.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
    margin-top: 5rem;
  background: white;
  width: 90%;
  max-width: 350px;
  border-radius: 1rem;
  padding: .2em;
  padding-bottom: 1rem;
  text-align: center;
  position: relative;
  animation: fadeIn .2s ease-in-out;
  margin-bottom: 0;
}

.modal-content h2 {
  margin: 1rem 0;
  margin-bottom: .5rem;
}
.modal-content img {
  width: 100%;
  max-height: auto;
  object-fit: fill;
  border-radius: .8rem;
}

.modal-content span {
  display: block;
  margin-top: .5rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.pix-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .9rem;
  margin-top: .3rem;
}

.pix-section img {
  width: 120px;
}

.close-button {
  position: absolute;
  top: .8rem;
  right: .8rem;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: white;
  font-weight: 1000;
  border-radius: 20rem;
}

.modal-content .card-button {
  transition: 1s;
  margin-top: .7rem;
}

.modal-content .card-button:hover {
  background-color: rgb(187, 142, 142);
}

.modal-content .card-button:active {
  background-color: rgb(198, 174, 174);
  transform:scale(1.1)
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(.95); }
  to { opacity: 1; transform: scale(1); }
}


@media screen and (max-width: 768px) {
  .modal-content {
    margin-top: 0;
    max-width: 325px;
  }
}