.countdown-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding-bottom: 3rem;
}

.time-countdown {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.countdown-container p {
    font-size: 1.25rem;
    text-align: center;
    text-transform: uppercase;
}

.time-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .5rem;
}

.time-container strong {
    font-weight: lighter;
    font-size: 18px;
    font-weight: bolder;
     font-family: Caviar Dreams;
}

.time-display {
    background-color: var(--primary-color);
    color: white;
    padding: .4rem 1.5rem;
    font-size: 25px;
    border-radius: .4rem;
}

@media screen and (max-width: 768px) {
    .countdown-container {
        padding-bottom: 1.5rem;
    }

    .time-container strong {
        font-size: 14px;
    }

    .time-display {
        font-size: 15px;
    }
}