.grid {
  max-width: 1600px;
  margin: 0 auto;
}

.grid-item {
  width: 19%;
  margin-bottom: 8px;
}

.grid-item img {
  width: 100%;
  display: block;
}

.gallery-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2em;
  font-family: Cristola Display;
  font-weight: 500;
}

@media (max-width: 1200px) {
  .grid-item {
    width: 31%;
  }
}

@media (max-width: 768px) {
  .grid-item {
    width: 49%;
  }
}
