.app-header {
    z-index: 99999;
 object-fit: contain;
    padding: 0;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    background-color: transparent;
}

.app-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 10px 20px;
}

.app-header.scrolled {
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header-item {
    color: #f8f6f4;
    font-weight: lighter;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
}

.header-item.scrolled {
    color: #302f2d;
}

.app-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65%;
    gap: 7rem;
}

.app-logo {
    height: 40px;
    padding: 0px 10px
}

.app-logob {
    visibility: hidden;
    height: 40px;
    width: 40px;
}



@media screen and (max-width: 768px) {
    .app-header .container{
        padding: 4px 12px;
    }
    .app-logo {
        height: 27.5px;
        padding: 0px 5px;
    }

    .app-logob {
        height: 35px;
    }


    .app-nav {
        gap: 2.2rem;
    }

    .app-nav a {
        font-size: 14px;
    }
}