.video {
  width: 100%;
  max-width: 800px;
  /* background-color: var(--terciary-color); */
  border-radius: 1rem;
  /* padding: .5rem; */
  margin-bottom: 2rem;
}

.video iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
    border-radius: .5rem;
  display: block;
}

@media screen and (max-width: 768px) {
  .video {
    border-radius: 0;
    margin-bottom: 1rem;
    padding: .45rem;
  }

}