.App{
  width: 100dvw;
}

.middle-section {
  background-image: url("./assets/background.jpg");
  padding-top: 20rem;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.last-section {
  background-image: url("./assets/background-2.jpg");
  height: 300px;
  padding-top: 20rem;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  background-attachment: fixed;

  backface-visibility: hidden;
}

html, body {
    overflow-x: hidden;
}


@media screen and (max-width: 768px) {
.middle-section,
  .last-section {
      height: 50px;
      background-attachment: scroll; 
  }

  .last-section {
  background-image: url("./assets/background-3.jpg");
  }
}

.loading-screen {
  position: fixed;
  inset: 0;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 9999;
}

.loader {
  width: 50px;
  height: 50px;
  border: 4px solid var(--terciary-color);
  border-top: 4px solid white;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 20px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
