.App{
  width: 100dvw;
}

.middle-section {
  background-image: url("./assets/background.jpg");
  padding-top: 20rem;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.last-section {
  background-image: url("./assets/background-2.jpg");
  height: 300px;
  padding-top: 20rem;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  background-attachment: fixed;

  backface-visibility: hidden;
}

html, body {
    overflow-x: hidden;
}


@media screen and (max-width: 768px) {
.middle-section,
  .last-section {
      height: 50px;
  }

  .last-section {
  background-image: url("./assets/background-3.jpg");
  }
}