:root {
    --primary-color: #7d200e;
    --secondary-color: #6f2810;
    --terciary-color: #B98089;
    --text-color: #333333;
    --white-color:#ffffff;
    --background-color: #ffffff;
}

@font-face {
    font-family: 'Caviar Dreams';
    src: url('./assets/fonts/CaviarDreams.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cristola Display';
    src: url('./assets/fonts/CristolaDisplay.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gistesy';
    src: url('./assets/fonts/Gistesy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  font-family: Caviar Dreams;
  text-decoration: none;
}

h1,h4 {
      font-family: "Cristola Display";
}

span, p, text {
     font-family: Caviar Dreams;
}

p {

    font-weight: 400;
}