.card {
    background-color: #dfcfd1;
    border-radius: .6rem;
    position: relative;
    padding-bottom: 1.5rem;
}

.card img {
    border-radius: .6rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
            padding: 0 .7rem;
    gap: .8rem;
}

.card h3 {
    font-weight: 500;
    font-family: Caviar Dreams;
    text-align: center;
    margin-bottom: 0;
    font-size: 1.2rem;
}

.card span {
    font-weight: 1000;
    font-family: Cristola Display;
    font-size: 1.3rem;
}

.card button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: .8rem 1.8em;
    border-radius: 1.5rem;
    cursor: pointer;
    font-weight: 500;
    font-family: Caviar Dreams;
    font-size: .9rem;
    text-transform: uppercase;
    font-weight: 900;
    margin-top: .3rem;
}


@media screen and (max-width: 768px) {
    .card {
        border-radius: .6rem;
        position: relative;
        padding-bottom: 1rem;
    }

    .card-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .6rem;
        padding: 0 .7rem;
    }

    .card h3 {
        font-size: .95rem;
    }

    .card span {
        font-size: 1.1rem;
    }

    .card button {
        padding: .6rem 1.4em;
        font-size: .7rem;

    }
}