.card {
    background-color: #dfcfd1;
    border-radius: .6rem;
    position: relative;
    padding-bottom: 1.5rem;
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: .6rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 .7rem;
    gap: .8rem;
}

.card h3 {
    font-weight: 500;
    font-family: Caviar Dreams;
    text-align: center;
    margin-bottom: 0;
    font-size: 1.1rem;
}

.card span {
    font-weight: 1000;
    font-family: Cristola Display;
    font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
    .card {
        border-radius: .6rem;
        position: relative;
        padding-bottom: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }

    .card img {
    height: 200px;
        object-fit:fill;
    }
    .card-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .6rem;
        padding: 0 .7rem;
    }

    .card h3 {
        font-size: .95rem;
        margin-top: .6rem;
    }

    .card span {
        font-size: 1.1rem;
    }


}